<h1>Product List</h1>
  <ul id="productList"></ul>

  <h2>Add Product</h2>
  <form id="productForm">

    <input type="number" id="id" name="id" required>
    <label for="id"><<--ID </label></br>

    <input type="text" id="title" name="title" required>
    <label for="title"><<--Title </label></br>

    <input type="text" id="despcription" name="despcription" required>
    <label for="despcription"><<--Despcription </label></br>

    <input type="text" id="code" name="code" required>
    <label for="code"><<--Code </label></br>

    <input type="number" id="price" name="price" required>
    <label for="price"><<--Price </label></br>

    <input type="number" id="stock" name="stock" required>
    <label for="stock"><<--Stock </label></br>

    <input type="text" id="category" name="category" required>
    <label for="category"><<--Category </label></br>

    <input type="text" id="thumbnails" name="thumbnails">
    <label for="thumbnails"><<--Thumbnails </label></br>

    <button type="submit">Add</button>
  </form>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>


